.mcustom-modules {
  width: 100%;
  padding-top: 60px;
  h5 {
    font-size: 0.4rem;
    text-align: center;
  }
  .m-button {
    width: 2.08rem;
    height: 0.68rem;
    display: block;
    border: 1px solid #F2A078;
    font-size: 0.26rem;
    color: #F56023 !important;
    border-radius: 4px;
    text-align: center;
    line-height: 2.4;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}