footer {
  width: 100%;
  background: #282828;
  text-align: center;
  .view-960 {
    width: 960px;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 15px;
    color: #fff;
    .copy{
      font-size: 14px;
      opacity: 0.6;
      font-weight: 200;
      margin-top: 10px;
    }
    .nav {
      text-align: center;
      font-size: 14px;
      
      .navagition {
        margin: 0 auto;
      }
      li {
        a {
          color: #b6b6b6;
          &:hover {
            color:#73cbff;
            text-decoration: none;
          }
          text-align: center;
        };
        display: inline-block;
        margin-right: 10px;
        &:not(:last-child):after{
          content: "";
          width: 10px;
          height: 12px;
          display: inline-block;
          border-right: 1px solid #fff;
          opacity: 0.5;
        }
      }
    }
  }
  
}