@import '../css/variables.scss';

.header {
  width: 1200px;
  margin: 0 auto;
  height: 110px;
  align-items: center;
  font-size: 16px;
  .hotline {
    width: 100%;
    height: 50px;
    text-align: right;
    font-size: 20px;
    padding-top: 15px;
    font-weight: 600;
    color: #009fe9;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    img {
      width: 36px;
      vertical-align: middle;
      margin-right: 10px;
    }
    span {
      line-height: 1.7;
    }
  }
  .nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    .system_name {
      font-size: 18px;
      color: $blue;
      margin-left: 20px;
      position: relative;
      flex: 1;
      &::before {
        content: '';
        width: 1px;
        height: 30px;
        position: absolute;
        background-color: $gray-300;
        top: 0;
        left: -10px;
      }
    }
    .navagition {
      position: relative;
      display: flex;
      justify-content: flex-end;
      margin: 0;
      
      li{
        margin: 0 20px;
        height: 100%;
        padding-top: 10px;
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        } 
        a{
          text-decoration: none;
          color: #444;
        }
        a.active {
          color: #1C96DF;
        }
        a:hover{
          color: #1C96DF;
        }
      }
    }
  }
  .sub-nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 40px;
    background:  rgba(255, 255, 255, 0.96);
    z-index: 4;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    li{
      text-align: left;
      font-size: 15px;
      line-height: 60px;
      cursor: pointer;
      min-width: 200px;
      
      &:hover {
        color: #1C96DF;
      }
      &::before {
        content: '>';
        color: #1C96DF;
        margin-right: 10px;
      }
    }
  }
   
}